{% extends '::base.html.twig' %}
{% block banner %}
{% endblock %}
{% block contenido %}
<div class="container container-round">

    {{ form_start(edit_form) }}
    <fieldset>
        <legend>Editar categor&iacute;a</legend>
            <div class="row">
                <div class="form-group">
                    {{ form_row(edit_form.nombre,{'style': 'horizontal', 'label_col': 1, 'widget_col': 5}) }}
                    {{ form_row(edit_form.peso,{'style': 'horizontal', 'label_col': 1, 'widget_col': 5}) }}
                </div>
            </div>
            <br /> 
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
                {{ form_widget(edit_form.submit) }}
                <a href="{{ path('categoria') }}" class="btn btn-primary">Volver a Categorias</a>

            </div>
        </div>

    </fieldset>


    {{ form_end(edit_form) }}
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
</div>
{% endblock %}
