{% extends '::base.html.twig' %}
{% block banner %}
{% endblock %}
{% block contenido %}
    <div class="container container-round">

        {{ form_start(delete_form, { 'style': 'horizontal' }) }}
        <fieldset>
            <legend>Sucursal de retiro</legend>
            {{ form_control_static('Id',entity.id) }}
            {{ form_control_static('C&oacute;digo',entity.codSuc) }}
            {{ form_control_static('Descripci&oacute;n',entity.descripcion) }}
            {{ form_control_static('Cp',entity.cp) }}
            {{ form_control_static('Calle',entity.calle) }}
            {{ form_control_static('Altura',entity.altura) }}
            {{ form_control_static('Piso',entity.piso) }}
            {{ form_control_static('Departamento',entity.dpto) }}
            {{ form_control_static('Otra Info',entity.otherinfo) }}
            {{ form_control_static('Cliente',entity.cliente.empresa) }}

            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    {{ form_widget(delete_form.submit) }}
                    <a href="{{ path('sucursal') }}" class="btn btn-primary">Volver a Sucursales</a>

                </div>
            </div>

        </fieldset>

        {{ form_end(delete_form) }}


        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('form').submit(function(e) {
            var currentForm = this;
            e.preventDefault();
            bootbox.confirm("¿Est&aacute; seguro que desea eliminar el registro?", function(result) {
                if (result) {
                    currentForm.submit();
                }
            });
        });
    </script>
{% endblock %}