<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Webpack{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="{{ asset('bundles/presisgeneral/css/dataTables.tableTools.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/presisgeneral/css/dashboard.css') }}">


        <link rel="stylesheet"  media="screen" type="text/css" href="{{ asset('bundles/presisgeneral/css/multi-select.css') }}">


        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">


        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->


    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}





    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}

    <style>
        .btn-danger {
            border-color: #b11f39;
            background-color: #b11f39;
        }
      
    </style>
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

                <div class="container-fluid">

                    <div class="navbar-header">


                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">WebPack</a>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav navbar-right">

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR')%}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong>Servicios</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('servicio_new') }}" class="btn btn-success btn-block">Agregar Servicio</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('servicio') }}" class="btn btn-success btn-block">Listado</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong>Precios</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('precio_new') }}" class="btn btn-success btn-block">Agregar Precio</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('precio') }}" class="btn btn-success btn-block">Listado</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong>Vendedores</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('vendedor_new') }}" class="btn btn-success btn-block">Agregar Vendedor</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('vendedor') }}" class="btn btn-success btn-block">Listado</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        {%  endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong>Retiro</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                {% if is_granted('ROLE_CLIENTE')  %}

                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('retiro_new') }}" class="btn btn-success btn-block">Agregar Retiro</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                    <li class="divider"></li>

                                {% endif %}
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('retiro') }}" class="btn btn-success btn-block">Listado</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong>Usuarios</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('user_new') }}" class="btn btn-success btn-block">Agregar Usuario</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('user') }}" class="btn btn-success btn-block">Listado</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        {%  endif %}
                        {% if is_granted('ROLE_CLIENTE') %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong>Importar</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('file_upload') }}" class="btn btn-success btn-block">Subir archivo</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('file') }}" class="btn btn-success btn-block">Listado</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong>Lista de precios</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('lista_new') }}" class="btn btn-success btn-block">Agregar Lista</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('lista_aumento') }}" class="btn btn-success btn-block">Aumentar Precios</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('lista') }}" class="btn btn-success btn-block">Listado</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        {%  endif %}
                        {% if is_granted('ROLE_ADMIN') %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong>Habilitaciones</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('habilitaciones_new') }}" class="btn btn-success btn-block">Agregar Habilitacion</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('habilitaciones') }}" class="btn btn-success btn-block">Listado</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        {%  endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong>Codigos Postales</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('cpcordon_new') }}" class="btn btn-success btn-block">Agregar Cp</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('cpcordon') }}" class="btn btn-success btn-block">Listado</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong>Cordones</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('cordon_new') }}" class="btn btn-success btn-block">Agregar Cordon</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('cordon') }}" class="btn btn-success btn-block">Listado</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        {%  endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong>Sucursales</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">

                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('sucursal_new') }}" class="btn btn-success btn-block">Agregar Sucursal</a>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('sucursal') }}" class="btn btn-success btn-block">Listado</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <strong>Rubros</strong>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">

                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{{ path('rubro_new') }}" class="btn btn-success btn-block">Agregar Rubro</a>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{{ path('rubro') }}" class="btn btn-success btn-block">Listado</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <strong>Clientes</strong>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">

                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{{ path('cliente_new') }}" class="btn btn-success btn-block">Agregar Cliente</a>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{{ path('cliente') }}" class="btn btn-success btn-block">Listado</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <strong>Categorias</strong>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">

                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{{ path('categoria_new') }}" class="btn btn-success btn-block">Agregar Categoria</a>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{{ path('categoria') }}" class="btn btn-success btn-block">Listado</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                        {% endif %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span> 
                                    <strong>{{ app.user.username }}</strong>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">

                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger btn-block">Cerrar Sesion</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
    {% block banner %}

        {% endblock %}



            <div class="col-sm main">


                    {%  block contenido %}
                    {% endblock %}
            </div>
{% endblock %}
</body>

{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" charset="utf-8" src="http://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/presisgeneral/js/dataTables.tableTools.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/presisgeneral/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/presisgeneral/js/bootbox.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->

{% endblock %}
</html>