<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR')%}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Servicios<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR')%}
                        <li><a href="#"><strong>SERVICIOS</strong></a></li>
                        <li><a href="{{ path('servicio_new') }}">AGREGAR SERVICIO</a></li>
                        <li><a href="{{ path('servicio') }}">LISTADO</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="divider"></li>
                        <li><a href="#"><strong>HABILITACIONES</strong></a></li>
                        <li><a href="{{ path('habilitaciones_new') }}">AGREGAR HABILITACION</a></li>
                        <li><a href="{{ path('habilitaciones') }}">LISTADO</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Comerciales <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('vendedor_new') }}">AGREGAR COMERCIAL</a></li>
                    <li><a href="{{ path('vendedor') }}">LISTADO</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_CLIENTE') or is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Retiro <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% if is_granted('ROLE_CLIENTE')  %}
                        <li><a href="{{ path('retiro_new') }}">AGREGAR RETIRO</a></li>
                    {% endif %}
                    {% autoescape false %}

                    {% endautoescape %}
                    {% if is_granted('ROLE_CLIENTE') or is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('retiro') }}">LISTADO</a></li>
                        <li><a href="{{ path('planilla') }}">CODIGO DE RETIRO</a></li>
                        <li><a href="{{ path('guia')}}">IMPRESION DE GUIAS</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        <li class="dropdown">
            {% if empresa=='fasttrack' %}
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Carga domestica <span class="caret"></span></a>
            {% endif %}
            {% if empresa=='caktus' %}
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Generar guias<span class="caret"></span></a>
            {% endif %}
            {% if empresa=='maslogistica' %}
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Generar guias<span class="caret"></span></a>
            {% endif %}
            <ul class="dropdown-menu" role="menu">
                {% if is_granted('ROLE_CLIENTE') or is_granted('ROLE_DISTRIBUIDOR') or is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('datosenvios_new') }}">Generar Guias</a></li>
                    <li><a href="{{ path('datosenvios_show') }}">Consultar Guias</a></li>
                    <li><a href="{{ path('datosenvios_confirmar') }}">Confirmar Guias</a></li>
                    {% if empresa=='maslogistica' %}
                        <li><a href="{{ path('datosenvios_pendientes_pago') }}">Confirmar Pagos</a></li>
                    {% endif %}
                    <li><a href="{{ path('constanciaretiro_solicitar') }}">Solicitud de retiro</a></li>
                    <li><a href="{{ path('importar') }}">Importar Guias</a></li>
                    <li><a href="{{ path('constancia_manifiestos') }}">Manifiestos Generados</a></li>
                    <!--<li><a href="{{ path('recorrido') }}">Consultar planillas de recorrido</a></li>-->
                {% endif %}
            </ul>
        </li>

        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CLIENTE') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Usuarios <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('user_new') }}">AGREGAR USUARIO</a></li>
                    <li><a href="{{ path('user') }}">LISTADO</a></li>
                </ul>
            </li>
        {% endif %}
        {#agregado por deivid#}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Fabricantes <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('fabricante_new') }}">AGREGAR FABRICANTE</a></li>
                    <li><a href="{{ path('fabricante') }}">LISTADO</a></li>
                </ul>
            </li>
         {% endif %}
         {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Modelos <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('modelo_new') }}">AGREGAR MODELO</a></li>
                    <li><a href="{{ path('modelo') }}">LISTADO</a></li>
                </ul>
            </li>
         {% endif %}
         {#..................................#}
        {% if is_granted('ROLE_CLIENTE') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Importar <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('file_upload') }}">SUBIR ARCHIVO</a></li>
                    <li><a href="{{ path('file') }}">LISTADO</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Rubros <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('rubro_new') }}">AGREGAR RUBRO</a></li>
                    <li><a href="{{ path('rubro') }}">LISTADO</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Categor&iacute;as <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('categoria_new') }}">AGREGAR CATEGOR&Iacute;A</a></li>
                    <li><a href="{{ path('categoria') }}">LISTADO</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Zonas <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><strong>CODIGOS POSTALES</strong></a></li>
                    <li><a href="{{ path('cpcordon_new') }}">AGREGAR CP.</a></li>
                    <li><a href="{{ path('cpcordon') }}">LISTADO</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><strong>CORDONES</strong></a></li>
                    <li><a href="{{ path('cordon_new') }}">AGREGAR CORDON</a></li>
                    <li><a href="{{ path('cordon') }}">LISTADO</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><strong>FRANJAS DE ENTREGA</strong></a></li>
                    <li><a href="{{ path('franjaentrega_new') }}">AGREGAR FRANJA</a></li>
                    <li><a href="{{ path('franjaentrega') }}">LISTADO</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Importes <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                        <li><a href="#"><strong>PRECIOS</strong></a></li>
                        <li><a href="{{ path('precio_new') }}">AGREGAR PRECIO</a></li>
                        <li><a href="{{ path('precio') }}">LISTADO</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><strong>LISTA DE PRECIOS</strong></a></li>
                        <li><a href="{{ path('lista_new') }}">AGREGAR LISTA</a></li>
                        <li><a href="{{ path('lista_upload') }}">IMPORTAR PRECIOS</a></li>
                        <li><a href="{{ path('lista_aumento') }}">MODIFICAR PRECIOS</a></li>

                        <li><a href="{{ path('lista') }}">LISTADO</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Clientes <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><strong>SUCURSALES</strong></a></li>
                    <li><a href="{{ path('sucursal_new') }}">AGREGAR SUCURSAL</a></li>
                    <li><a href="{{ path('sucursal') }}">LISTADO</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><strong>CLIENTES</strong></a></li>
                    <li><a href="{{ path('cliente_new') }}">AGREGAR CLIENTE</a></li>
                    <li><a href="{{ path('cliente') }}">LISTADO</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_DISTRIBUIDOR') %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Tracker<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('tracker') }}">Tracker</a></li>
                </ul>
            </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Extra<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="max-height: 500px; overflow-y: auto;">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_VENDEDOR') %}
                        <li><a href="{{ path('firmas_manifiestos') }}">FIRMAS MANIFIESTOS</a></li>
                        <li><a href="{{ path('distribuidor') }}">Distribuidor</a></li>
                        <li><a href="{{ path('tracker') }}">Tracker</a></li>
                        <li><a href="{{ path('estado') }}">Estados</a></li>
                        <li><a href="{{ path('expreso') }}">Expreso</a></li>
                        <li><a href="{{ path('recorrido') }}">Consultar planillas de recorrido</a></li>
                        <li><a href="{{ path('recorrido_new') }}">Nueva plan. de recorrido</a></li>
                        <li><a href="{{ path('rendicion_new') }}">Nueva plan. de rendición</a></li>
                        <li><a href="{{ path('rendicion') }}">Consultar plan. de rendición</a></li>
                    {% if empresa=='fasttrack' %}
                        <li><a href="{{ path('datosenvios_new') }}">Carga Domestica</a></li>
                        <li><a href="{{ path('datosenvios_show') }}">Busqueda Domestica</a></li>
                    {% endif %}
                    {% if empresa=='maslogistica' %}
                        <li><a href="{{ path('datosenvios_new') }}">Generar guias</a></li>
                        <li><a href="{{ path('datosenvios_show') }}">Consultar guias</a></li>
                    {% endif %}
                        {% if empresa=='epsa' %}
                            <li><a href="{{ path('datosenvios_new') }}">Cargar remito</a></li>
                            <li><a href="{{ path('datosenvios_show') }}">Busquar remito</a></li>
                        {% endif %}
                    {% if empresa=='caktus' %}
                        <li><a href="{{ path('datosenvios_new') }}">Cargar remito</a></li>
                        <li><a href="{{ path('datosenvios_show') }}">Busquar remito</a></li>
                    {% endif %}
                        <li><a href="{{ path('importar') }}">Importar</a></li>
                        <li><a href="{{ path('tiporeclamo') }}">Tipos de reclamo</a></li>
                        <li><a href="{{ path('bultoexcedente') }}">Costo de bultos excedentes</a></li>
                        <li><a href="{{ path('datosenvios_confirmar') }}">Confirmar guias</a></li>
                    {% if empresa=='maslogistica' or empresa=='epsa' %}
                        <li><a href="{{ path('firmas') }}">Ver informados</a></li>
                        <li><a href="{{ path('datosenvios_pendientes_retiro') }}">Guias para retirar</a></li>
                        <li><a href="{{ path('datosenvios_pendientes_pago') }}">Confirmar Pago</a></li>
                        <li><a href="{{ path('datosenvios_pagos_confirmados') }}">Pagos Confirmados</a></li>
                        <li><a href="{{ path('pesorangoexcedente_new') }}">Costo por peso excedente</a></li>
                        <li><a href="{{ path('pesorangoexcedente') }}">Listado Costo por peso excedente</a></li>
                        <li><a href="{{ path('constanciaretiro_pendientes') }}">Guias no retiradas AMBA</a></li>
                    {% endif %}
                    {% if empresa=='fasttrack' or empresa=='epsa' %}
                        <li><a href="{{ path('datosenvios_pendientes') }}">Guias no retiradas INTERIOR</a></li>
                        <li><a href="{{ path('constanciaretiro_pendientes') }}">Guias no retiradas AMBA</a></li>
                    {% endif %}
                        <li><a href="{{ path('constanciaretiro_new') }}">Solicitud de retiro</a></li>
                        <li><a href="{{ path('datosenvios_auditoria') }}">Auditoria</a></li>
                        <li><a href="{{ path('constancia_manifiestos') }}">Manifiestos Generados</a></li>
                        <li><a href="{{ path('retirosfijos_new') }}">Cargar Retiros Fijos</a></li>
                        <li><a href="{{ path('retirosfijos_listado') }}">Listado Retiros Fijos</a></li>
                        {% if empresa=='caktus' or empresa=='epsa' or empresa=='maslogistica' %}
                            <li><a href="{{ path('cecos_new') }}">Centros de costo</a></li>
                            <li><a href="http://trackers.onlinegeotrack.com.ar/caktuspack/acuses/acuses-caktus.php">Impresion</a></li>
                            <li><a href="{{ path('distribuidor_presentismo') }}">Presentismo</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        <li class="dropdown">
            <!--<li><a href="{{ path('fos_user_security_logout') }}" class="menu-webpack"><strong>Logout</strong></a></li>-->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% if empresa=='maslogistica' %}
                    <li><a href="http://trackers.onlinegeotrack.com.ar/tracker_maslogistica/corpo-simple/index.php" target="_blank">TRACKING</a></li>
                {% endif %}
                {% if empresa=='caktus' %}
                    <li><a href="http://trackers.onlinegeotrack.com.ar/tracker_caktus/corpo-simple/index.php" target="_blank">TRACKING</a></li>
                {% endif %}
                {% if empresa=='fasttrack' %}
                    <li><a href="http://trackers.onlinegeotrack.com.ar/tracker_ft/corpo-simple/index.php" target="_blank">TRACKING</a></li>
                {% endif %}
                <li><a href="{{ path('fos_user_security_logout') }}">LOGOUT</a></li>
            </ul>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->
