<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Carga domestica <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('datosenvios_new') }}">GENERAR GUIAS</a></li>
                <li><a href="{{ path('datosenvios_show') }}">CONSULTAR GUIAS</a></li>
                <li><a href="{{ path('datosenvios_confirmar') }}">CONFIRMAR GUIAS</a></li>
                <li><a href="{{ path('importar') }}">IMPORTAR</a></li>
                <li><a href="{{ path('datosenvios_auditoria') }}">AUDITORIA</a></li>
                <li><a href="{{ path('tracker') }}">TRACKER</a></li>
                <li><a href="{{ path('distribuidor') }}">DISTRIBUIDOR</a></li>
                <li><a href="{{ path('estado') }}">ESTADOS</a></li>
                <li><a href="{{ path('expreso') }}">EXPRESOS</a></li>
                <li><a href="{{ path('recorrido') }}">CONSULTAR RECORRIDO</a></li>
                <li><a href="{{ path('recorrido_new') }}">PLANILLA RECORRIDO</a></li>
                <li><a href="{{ path('rendicion_new') }}">NUEVA RENDICION</a></li>
                <li><a href="{{ path('rendicion') }}">CONSULTAR RENDICION</a></li>
                <li><a href="{{ path('datosenvios_pendientes') }}">RETIROS INTERIOR</a></li>
                <li><a href="{{ path('constanciaretiro_pendientes') }}">RETIROS AMBA</a></li>
                <li><a href="{{ path('constancia_manifiestos') }}">MANIFIESTOS GENERADOS</a></li>
                <li><a href="{{ path('retirosfijos_new') }}">CARGAR RETIROS FIJOS</a></li>
                <li><a href="{{ path('retirosfijos_listado') }}">LISTADOS RETIROS FIJOS</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Zonas <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><strong>CODIGOS POSTALES</strong></a></li>
                <li><a href="{{ path('cpcordon_new') }}">AGREGAR CP.</a></li>
                <li><a href="{{ path('cpcordon') }}">LISTADO</a></li>
                <li class="divider"></li>
                <li><a href="#"><strong>CORDONES</strong></a></li>
                <li><a href="{{ path('cordon_new') }}">AGREGAR CORDON</a></li>
                <li><a href="{{ path('cordon') }}">LISTADO</a></li>
                <li class="divider"></li>
                <li><a href="#"><strong>FRANJAS DE ENTREGA</strong></a></li>
                <li><a href="{{ path('franjaentrega_new') }}">AGREGAR FRANJA</a></li>
                <li><a href="{{ path('franjaentrega') }}">LISTADO</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">Clientes <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><strong>CLIENTES</strong></a></li>
                <li><a href="{{ path('cliente') }}">LISTADO</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <!--<li><a href="{{ path('fos_user_security_logout') }}" class="menu-webpack"><strong>Logout</strong></a></li>-->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle menu-webpack" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                {% if empresa=='maslogistica' %}
                    <li><a href="http://trackers.onlinegeotrack.com.ar/tracker_maslogistica/corpo-simple/index.php" target="_blank">TRACKING</a></li>
                {% endif %}
                {% if empresa=='caktus' %}
                    <li><a href="http://trackers.onlinegeotrack.com.ar/tracker_caktus/corpo-simple/index.php" target="_blank">TRACKING</a></li>
                {% endif %}
                {% if empresa=='fasttrack' %}
                    <li><a href="http://trackers.onlinegeotrack.com.ar/tracker_ft/corpo-simple/index.php" target="_blank">TRACKING</a></li>
                {% endif %}
                <li><a href="{{ path('fos_user_security_logout') }}">LOGOUT</a></li>
            </ul>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->