<pdf>
    {% set index = 0 %}
    {% for guia in guias %}
        {% for i in guia %}
            <dynamic-page font-type="DejaVuSans" margin="15px">
                <div width="100%" height="90px" border.color="black" padding-bottom="10px">
                    <div float="left" width="40%" height="45px">
                        <img src="{{ pdf_image('PresisRetiroBundle:maslogistica.png') }}" width="250px" height="68px" />
                    </div>
                    <div float="left" width="30%" height="45px" text-align="center">
                        <div padding-top="10px" font-size="16px">
                            <b>SOLICITUD DE RETIRO</b>
                        </div>
                        <div width="100%" padding-top="10px">
                            <div border.color="black" width="50px" height="50px" margin-right="auto" margin-left="auto" text-align="center">
                                <h1>X</h1>
                            </div>
                        </div>
                        <div font-size="10px" padding-top="10px">
                            <b>Documento no valido como factura</b>
                        </div>
                    </div>
                    <div float="left" width="30%" height="45px" text-align="right">
                        <div padding-top="10px" font-size="12px" margin-right="15px">
                            <b>Fecha: {{ i.fecha | date('d/m/Y') }}</b>
                        </div>
                        <div padding-top="10px" font-size="12px">
                            <barcode type="code39" code="{{ i.id }}" float="right" bar-thin-width="4px" bar-thick-width="10px" />
                        </div>
                    </div>
                </div>
                <div width="100%" border.color="black" height="25px" padding-top="5px" font-size="12px">
                    <div width="100%" float="left">
                        <div padding-left="10px">
                            <b>Distribuidor: </b>{{ i.distribuidor }}
                        </div>
                    </div>
                </div>
                <div width="100%" border.color="black" font-size="12px">
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>Empresa: </b>{{ i.cliente }}
                    </div>
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>Direcci贸n: </b>{{ i.calle ~ " " ~ i.altura ~ " " ~ i.piso ~ " " ~ i.dpto }}
                    </div>
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>Localidad: </b>{{ i.localidad }}
                    </div>
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>Provincia: </b>{{ i.provincia }}
                    </div>
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>C.P: </b>{{ i.cp }}
                    </div>
                    <div padding-top="5px" padding-left="10px" margin-bottom="10px">
                        <b>Observaciones: </b>{{ i.observaciones }}
                    </div>
                </div>
                <div margin-top="15px"></div>
                <div width="100%" border.color="black" font-size="12px">
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>Datos del retiro</b>
                    </div>
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>Horario: </b>{{ i.franja }}
                    </div>
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>Contacto: </b>{{ i.contacto }}
                    </div>
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>Tel.: </b>{{ i.telefono }}
                    </div>
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>Email: </b>{{ i.mail }}
                    </div>
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>Bultos: </b>{{ i.bultos }}
                    </div>
                    <div height="25px" padding-top="5px" padding-left="10px">
                        <b>Peso: </b>{{ i.peso }}
                    </div>
                </div>
                <div margin-top="15px"></div>
                <div width="50%" border.color="black" float="left" text-align="center">
                    <div width="100%" border.color="black" float="left" text-align="center">
                        <b>Autorizaci贸n y Firma del Remitente</b>
                    </div>
                    <div width="100%" float="left" text-align="left" font-size="8px" height="120px">
                        Firma:
                    </div>
                    <div padding-top="5px" border.color="black" width="100%" float="left" text-align="left" font-size="8px" height="30px">
                        Aclaraci贸n:
                    </div>
                </div>
                <div width="50%" border.color="black" float="left" text-align="center">
                    <div width="100%" border.color="black" float="left" text-align="center">
                        <b>Datos y firma de quien recibe / retira</b>
                    </div>
                    <div width="100%" float="left" text-align="left" font-size="8px" height="120px">
                        <div border.color="black" width="60%" float="left" text-align="left" font-size="8px" height="120px">
                            Firma:
                        </div>
                        <div width="40%" float="left" text-align="left" font-size="8px" height="120px">
                            <div width="100%" float="left" text-align="left" font-size="8px" height="60px">
                                Doc. de Identidad:
                            </div>
                            <div border.color="black" width="100%" float="left" text-align="left" font-size="8px" height="60px">
                                Fecha:
                            </div>
                        </div>
                    </div>
                    <div padding-top="5px" border.color="black" width="60%" float="left" text-align="left" font-size="8px" height="30px">
                        Aclaraci贸n:
                    </div>
                    <div padding-top="5px" border.color="black" width="40%" float="left" text-align="left" font-size="8px" height="30px">
                        Hora:
                    </div>
                </div>
            </dynamic-page>
            {% set index = index + 1 %}
        {% endfor %}
    {% endfor %}
</pdf>