{% extends '::base.html.twig' %}
{% block banner %}
{% endblock %}
{% block contenido %}
    <div class="container-fluid container-round">
        {{ form_start(form) }}
        <fieldset>
            <legend>Agregar nuevo ceco</legend>
            <div class="row">
                <div class="form-group">
                    {{ form_row(form.cliente,{'style': 'horizontal', 'label_col': 3, 'widget_col': 6})}}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_row(form.codigo,{'style': 'horizontal', 'label_col': 3, 'widget_col': 6})}}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_row(form.descripcion,{'style': 'horizontal', 'label_col': 3, 'widget_col': 6})}}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="button1id"></label>
                    <div class="col-md-8">
                        {{ form_widget(form.submit) }}
                    </div>
                </div>
            </div>
        </fieldset>
        {{ form_end(form) }}
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
    </div>
{% endblock %}
