<legend>Datos del Expreso</legend>
<div class="row">
    <div class="form-group">
        {{ form_row(form.codigo,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2, 'attr': {'autofocus': 'autofocus'} }) }}
        {{ form_row(form.nombre,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.direccion,{'style': 'horizontal', 'label_col': 1, 'widget_col': 5}) }}
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_row(form.localidad,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.provincia,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.telefono,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.telefono2,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_row(form.cp,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.mail,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.web,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.cuit,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_row(form.encargado,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.horario,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.codigos,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.alta,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_row(form.estado,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.medio,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.otrosDatos,{'style': 'horizontal', 'label_col': 1, 'widget_col': 5}) }}
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_row(form.descripcionServicio,{'style': 'horizontal', 'label_col': 1, 'widget_col': 11}) }}
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_row(form.fechaAlta,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2, attr:{class: 'input-sm date-picker'}}) }}
        {{ form_row(form.const,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.zonasAtencion,{'style': 'horizontal', 'label_col': 1, 'widget_col': 5}) }}
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_row(form.contacto,{'style': 'horizontal', 'label_col': 1, 'widget_col': 5}) }}
        {{ form_row(form.finishing,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.ip,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_row(form.codigoEmpleado,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.empleado,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.sucursal,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
        {{ form_row(form.esExpreso,{'style': 'horizontal', 'label_col': 1, 'widget_col': 2}) }}
    </div>
</div>
<div class="row">
    <div class="form-group">
        {{ form_row(form.zona,{'style': 'horizontal', 'label_col': 1, 'widget_col': 5}) }}
        {{ form_row(form.cuentaCorriente,{'style': 'horizontal', 'label_col': 1, 'widget_col': 5}) }}
    </div>
</div>