{% extends '::base.html.twig' %}
{% block banner %}
{% endblock %}
{% block contenido %}
    <div class="container container-round">

        {{ form_start(edit_form, { 'style': 'horizontal' }) }}
        <fieldset>
            <legend>Editar rubro</legend>

            {{ form_row(edit_form.descripcion) }}

            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    {{ form_widget(edit_form.submit) }}
                    <a href="{{ path('rubro') }}" class="btn btn-primary">Volver a Rubros</a>

                </div>
            </div>

        </fieldset>


        {{ form_end(edit_form) }}
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
    </div>
{% endblock %}
