{% extends '::base.html.twig' %}
{% block banner %}
{% endblock %}
{% block contenido %}
    <div class="container-fluid container-round">
        {{ form_start(form) }}
        <legend>Agregar nueva habilitaci&oacute;n</legend>
            <div class="row">
                <div class="form-group">
                   {{ form_row(form.cordonEntrega,{'style': 'horizontal', 'label_col': 2, 'widget_col': 4}) }}
                   {{ form_row(form.cordonRetiro,{'style': 'horizontal', 'label_col': 2, 'widget_col': 4}) }}
               </div>  
            </div>
            <div class="row">
                <div class="form-group">    
                    {{ form_row(form.servicio,{'style': 'horizontal', 'label_col': 2, 'widget_col': 10}) }}
                </div>   
            </div>
            <div class="row">    
                <div class="form-group">
                   {{ form_row(form.horaDesde,{'style': 'horizontal', 'label_col': 2, 'widget_col': 3}) }}
                   {{ form_row(form.horaHasta,{'style': 'horizontal', 'label_col': 2, 'widget_col': 3}) }}
                </div> 
            </div> 
                {{ form_errors(form) }}
            <br />    
            <div class="row">    
                <div class="form-group">
                    <label class="col-md-4 control-label" for="button1id"></label>
                    <div class="col-md-8">
                        {{ form_widget(form.submit) }}
                        <a href="{{ path('habilitaciones') }}" class="btn btn-primary">Volver a Habilitaciones</a>
                    </div>
                </div>
            </div>   
        {{ form_end(form) }}
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
    </div>
{% endblock %}

