<div class="row">
    <div class="form-group">
        <div class="col-lg-4">
            {{ form_row(form.nombre,{'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(form.codigo,{'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-lg-3">
            {{ form_row(form.delay,{'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-lg-5">
            {{ form_row(form.seleccionableParaRecorrido,{'label_col': 8, 'widget_col': 4}) }}
        </div>
        <div class="col-lg-5">
            {{ form_row(form.seleccionableParaChofer,{'label_col': 8, 'widget_col': 4}) }}
        </div>
        <div class="col-lg-5">
            {{ form_row(form.seleccionableParaWeb,{'label_col': 8, 'widget_col': 4}) }}
        </div>

        <div class="col-lg-5">
            {{ form_row(form.paraEntrega,{'label_col': 8, 'widget_col': 4}) }}
        </div>
        <div class="col-lg-5">
            {{ form_row(form.paraRetiro,{'label_col': 8, 'widget_col': 4}) }}
        </div>
        <div class="col-lg-5">
            {{ form_row(form.delayretiro,{'label_col': 8, 'widget_col': 4}) }}
        </div>
    </div>
</div>