{% extends '::base.html.twig' %}
{% block banner %}

{% endblock %}
{% block contenido %}
    <div class="container container-round">
        {{ form_start(form) }}
            <legend>Agregar nuevo usuario</legend>
            <div class="row">
                <div class="form-group">
                    {{ form_row(form.roles,{'style': 'horizontal', 'label_col': 2, 'widget_col': 10}) }}
                </div>
            </div>  
            <div class="row">
                <div class="form-group">
                    {{ form_row(form.cliente,{'style': 'horizontal', 'label_col': 2, 'widget_col': 4}) }}
                    {{ form_row(form.sucursal,{'style': 'horizontal', 'label_col': 2, 'widget_col': 4}) }}
                </div>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="row">
                <div class="form-group">
                    {{ form_row(form.vendedor,{'style': 'horizontal', 'label_col': 2, 'widget_col': 3}) }}
                    {{ form_row(form.distribuidor,{'style': 'horizontal', 'label_col': 2, 'widget_col': 3}) }}
                    {{ form_row(form.userAdmin,{'style': 'horizontal', 'label_col': 1, 'widget_col': 1}) }}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="form-group">
                    {{ form_row(form.email,{'style': 'horizontal', 'label_col': 2, 'widget_col': 4}) }}
                    {{ form_row(form.username,{'style': 'horizontal', 'label_col': 2, 'widget_col': 4}) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {{ form_row(form.plainPassword.first,{'style': 'horizontal', 'label_col': 2, 'widget_col': 4}) }}
                    {{ form_row(form.plainPassword.second,{'style': 'horizontal', 'label_col': 2, 'widget_col': 4}) }}
                </div>
            </div>
            <br />
            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    {{ form_widget(form.submit) }}
                    <a href="{{ path('user') }}" class="btn btn-primary">Volver a Usuarios</a>

                </div>
            </div>
        {{ form_end(form) }}
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            /*=====================================================================================================*/
            $("#presis_user_registration_cliente").change(function() {
                var data = {
                    cliente_id: $(this).val()
                };
                $.ajax({
                    type: 'post',
                    url: '{{ path("sucursal_selector") }}',
                    data: data,
                    success: function(data) {
                        var $city_selector = $('#presis_user_registration_sucursal');
                        $city_selector.html('<option>Sucursales</option>');
                        $.each($.parseJSON(data), function (key,value) {
                            $city_selector.append('<option value="' + value.id + '">' + value.descripcion + '</option>');
                        });
                    }
                });
            });
            /*=====================================================================================================*/
        });
    </script>
{% endblock %}
