{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reclamo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Pendiente</th>
                <th>Nro</th>
                <th>Fecha</th>
                <th>Fechalimite</th>
                <th>Fecharesuelto</th>
                <th>Resolvio</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Detalle</th>
                <th>Observaciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reclamo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.pendiente }}</td>
                <td>{{ entity.nro }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaLimite %}{{ entity.fechaLimite|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaResuelto %}{{ entity.fechaResuelto|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{{ entity.resolvio }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.detalle }}</td>
                <td>{{ entity.observaciones }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reclamo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reclamo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reclamo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
