{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sender list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Empresa</th>
                <th>Calle</th>
                <th>Altura</th>
                <th>Piso</th>
                <th>Dpto</th>
                <th>Otherinfo</th>
                <th>Cp</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sender_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.empresa }}</td>
                <td>{{ entity.calle }}</td>
                <td>{{ entity.altura }}</td>
                <td>{{ entity.piso }}</td>
                <td>{{ entity.dpto }}</td>
                <td>{{ entity.otherInfo }}</td>
                <td>{{ entity.cp }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sender_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sender_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sender_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
